<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Welcome {{userType}} {{userName}}</a>
            <!-- Dont forget to change the routerLink for given userTypes. -->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- Header buttons for doctors/nurses/patients? -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="/">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>