.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
button {
    margin-top: 10px;
    display: flex;
    margin-left: 50px;
}
.col-xs-12{
    display: flex;
    margin-top: 25px;
}