<app-header [userType]="userType"></app-header>
<div class="text-center">
    <div class="row">
        <div class="column">
            <ul class="button group">
                <button>
                    1
                </button>
                <button>
                    2   
                </button>
                <button>
                    3
                </button>
                <button>
                    4
                </button>
            </ul>
        </div>
        <div class="column">
            <div class="text-center">
                <div class="col-xs-12">
                    <div class="alert alert-info" role="alert">
                        <p>
                            Info will be shown here!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>