<app-header [userType]="userType"></app-header>
<div class="text-center">
    <div class="row">
        <div class="column">
            <ul class="button group">
                <button (click)="listUser()">
                    User List
                </button>
            </ul>
        </div>
        <div class="column">
            <div class="text-center">
                <div class="col-xs-12">
                    <div class="alert alert-info" role="alert">
                        <div class="user-table">
                            <table class="table table-bordered text-center table-condensed">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">SSN</th>
                                        <th class="text-center">E-Mail</th>
                                        <th class="text-center">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let user of userList; index as i">
                                        <tr>
                                            <td> {{i+1}} </td>
                                            <td>{{userList[i].name}}</td>
                                            <td>{{userList[i].ssn}}</td>
                                            <td>{{userList[i].email}}</td>
                                            <td>{{userList[i].userType}}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>